@section Styles{

    <link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section scripts
{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

    <script>
        SystemJS.import('Editions/Index.js').then(function (d) {
            new d.EditionsWindow().load();
        });
    </script>
}
<h1>@L("Editions")</h1>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm js-create-edition"><i class="fa fa-plus"></i> @L("CreateNewEdition")</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="editions-table"></table>
    </div>
</div>