
@{
    ViewBag.Title = "Index";
}
@section Styles{

    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section scripts
{

    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        SystemJS.import('Languages/Index.js').then(function (d) {
            new d.LanguageWindow().load();
        });
    </script>
}
<h1>@L("Languages")</h1>

<div class="row">
    <div class="col-md-12">
        <button data-toggle="modal" data-target="#UserCreateModal" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> @L("CreateNewLanguage")</button>
    </div>
</div>
<hr />
<table id="languages-table">
</table>