@using System.Web.Mvc.Html
@model List<NorthLion.Zero.Roles.Dto.AssignedPermission>

<ul>
    @foreach (var childPermission in Model)
    {

        <li data-jstree='{ "selected" : @childPermission.Granted.ToString().ToLower() }' id="@childPermission.Name">

            @childPermission.DisplayName

            @if (childPermission.ChildPermissions.Any())
            {
                { Html.RenderPartial("_childPermissionsForRoleView", childPermission.ChildPermissions); }
            }
        </li>
    }
</ul>